# config
*.env

# OS
.DS_Store

# webpack
bundle.js*

# directories
node_modules/
coveragevscode-file://vscode-app/c:/Users/18016/AppData/Local/Programs/Microsoft%20VS%20Code/resources/app/out/vs/code/electron-sandbox/workbench/workbench.html